/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.lsp
.DS_Store
*.iml
.classpath
.project
.settings/*
node_modules
.shadow-cljs/
shadow-cljs.edn
goldly_bindings_generated.cljs
karma.conf.js
package.json
package-lock.json
shadow-cljs.edn
