{:paths ["src"
         "resources" ; snippets, demo data and specs
         "target/node_modules"] ; vega specs json
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.3"}
  ;[clj-time "0.15.2"] ;time axis creation 
  ;[com.andrewmcveigh/cljs-time "0.5.2"]
  ; todo: replace with cljc time
  org.pinkgorilla/pinkie {:mvn/version "0.3.15"}} ; box

 :aliases
 {;https://github.com/applied-science/deps-library
  :release
  {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
   :main-opts ["-m" "applied-science.deps-library"]}

  ; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "check" "--indents" "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main"
               "--lint" "src"
               "--config" "cljkondo.edn"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts ["-m" "clj-check.check"]}

  :garamond
  {:main-opts ["-m" "garamond.main"]
   :extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "4e7e1c0dfd5291fa2134df052443dc29695d8cbe"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  ; demo ui

  :ci {:extra-paths ["test"]
       :extra-deps  {org.pinkgorilla/goldly {:mvn/version "0.3.47"
                                             :exclusions [org.pinkgorilla/ui-vega]}}
       :exec-fn webly.user.app.app/webly-run
       :exec-args {:profile "ci"
                   :config nil}}

  :perf {:extra-paths ["dev"]
         :extra-deps {metasoarous/darkstar {:mvn/version "0.1.0"}
                      cheshire/cheshire {:mvn/version "5.10.1"}
                      com.taoensso/tufte {:mvn/version "2.2.0"}}
         :main-opts ["-m" "perf.core"]}

  :goldly
  {:extra-deps {org.pinkgorilla/goldly {:mvn/version "0.4.545"
                                        :exclusions [org.pinkgorilla/ui-vega]}}
   :jvm-opts ["-Dmaven.wagon.rto=90000"]
   :exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "compile2"
               :config ["webly/config.edn" "goldly/config.edn" "goldly-plot.edn"]}}


; RUN SERVICES (keep running)
  :docs
  {:extra-deps {org.pinkgorilla/goldly-docs {:mvn/version "0.4.545"
                                             :exclusions [org.pinkgorilla/ui-vega]}}
   :extra-paths ["demo"]
   :jvm-opts ["-Dmaven.wagon.rto=90000"]
   :exec-fn modular.system/start!
   :exec-args {:profile "jetty"
               :config ["webly/config.edn" "goldly/config.edn" "goldly/docs-config.edn"
                        "goldly-plot.edn"]
               :services "goldly/docs-services.edn"}}

  ; BUILD BUNDLE (then exit)
  :build
  {:exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "compile2"}}



;
  }}
