{:goldly {:lazy true
          :autoload-cljs-dir [; to load cljs files to repl state
                              ; order is important
                              "src/goldly/lib"
                              "src/goldly/devtools"
                              "src/demo/page"]
          :routes {:app {"" :vegademo/main
                         ;test
                         "vegademo/main" :vegademo/main
                         "vegademo/histogram" :vegademo/histogram
                         ;devtools
                         "devtools/help" :devtools
                         "devtools/scratchpad" :scratchpad
                         "devtools/viewer" :viewer
                         "devtools/environment" :environment}
                   :api {"rdocument/ns" :rdocument/ns
                         "rdocument/files" :rdocument/files
                         ["rdocument/file/" :ns "/" :name] :rdocument/file ; http://localhost:8000/api/viewer/file/demo.playground.cljplot/vega-spec.edn
                         }}}
 
  :devtools {:rdocument  {:storage-root "rdocument/"
                          :url-root "/api/rdocument/file/"}
             :collections {:demo [:clj "demo/notebook/"]}}
 
 
 
 
 }

