{:name "ui-vega"
 ; build
 :lazy true
 :cljs-namespace [pinkgorilla.vega ;render wrapper
                  pinkgorilla.vega.plot.core ; plot
                  pinkgorilla.grid ; grid
                  pinkgorilla.vega.impl.react]
 :cljs-bindings {'vega pinkgorilla.vega.impl.react/vega
                 'vegalite pinkgorilla.vega.impl.react/vegalite
                 'grid pinkgorilla.grid/grid}
 :cljs-ns-bindings {'plot {'list-plot pinkgorilla.vega.plot.core/list-plot
                           'bar-chart pinkgorilla.vega.plot.core/bar-chart
                           'histogram pinkgorilla.vega.plot.core/histogram
                           'plot pinkgorilla.vega.plot.core/plot
                           'compose pinkgorilla.vega.plot.core/compose
                           'timeseries-plot pinkgorilla.vega.plot.core/timeseries-plot
                          ; 'multi-plot pinkgorilla.vega.plot.core/multi-plot
                           }}
 ; theme
 :theme {:available {}
         :current {}}
 ;run
 :clj-require [[pinkgorilla.vega :refer [vega]]
               [pinkgorilla.vega.plot.core :as plot]
               [pinkgorilla.grid :refer [grid]]]
 

 ;
 }