{:goldly {:lazy true
          :autoload-cljs-dir ["plot_demo/page"]
          :routes {:app {"" :vegademo}}}
 
  :devtools {:rdocument  {:storage-root "rdocument/"
                          :url-root "/api/rdocument/file/"}
             :collections {:demo [:clj "demo/notebook/"]}}
 
 }

